[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YudiWidiyanto
[access "refs/for/refs/*"]
	read = group user/YudiWidiyanto
	push = group user/YudiWidiyanto
	label-Code-Review = -2..+2 group user/YudiWidiyanto
	label-Verified = -1..+1 group user/YudiWidiyanto
	rebase = group user/YudiWidiyanto
	removeReviewer = group user/YudiWidiyanto
	submit = group user/YudiWidiyanto
[access "refs/heads/*"]
	read = group user/YudiWidiyanto
	create = group user/YudiWidiyanto
	push = +force group user/YudiWidiyanto
	pushMerge = group user/YudiWidiyanto
[access "refs/tags/*"]
	push = group user/YudiWidiyanto
	push = +force group user/YudiWidiyanto
